:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;


  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


.progress-container {
  border: 1px solid grey;
  border-radius: 10px;
  margin-bottom: 20px;
  overflow: hidden;
}
.progress-bar {
  background-color: green;
  color: #fff;
  transition: width 0.3s ease-in-out;
  animation: progressAnimation 2.5s ease-in-out forwards;
}

@keyframes progressAnimation {
  from {
    width: 0
  }
  to {
    width: width;
  }
}